@font-face {
    font-family: 'Pixel';
    src: url('../../asset/fonts/Pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Pixel', sans-serif;
    font-size: 1.8vw;
    color: white;
    text-align: center;
}

p {
    font-family: 'Pixel', sans-serif;
    font-size: 2.5vw;
    color: red;
    text-align: center;
}

a {
    text-decoration: none;
    display: grid;
    place-items: center;
    width: 12vw;
}

a > * {
    grid-area: 1 / 1;
}

html{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    gap: 10vh;
    background-color: black;
    background-size: cover;
    background-position: center;
}

#text-box {
    background-color: black;
    background-size: 100% 100%;
    background-position: center;
    box-sizing: border-box;
    width: 100vw;
}

#button-box{
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5vh;
}

.personaggio_morto{
    width: 15vw;
}