@font-face {
  font-family: 'Pixel';
  src: url('../asset/fonts/Pixel.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Standard syntax */
}

h1 {
  font-family: 'Pixel', sans-serif;
  font-size: 1.6vw;
  color: red;
  text-align: center;
}

a {
  text-decoration: none;
}

body.menu-bg {
  margin: 0;
  height: 100vh;
  background-image: url("../img/start/sfondo_menu.png"); 
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.menu-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 3vw;
}

.img-button {
  width: 15vw; 
  cursor: pointer;
  transition: transform 0.2s ease, filter 0.2s ease;
}

.button {
  display: grid;
  place-items: center;
}

.button > * {
  grid-area: 1 / 1;
}

.titolo{
  height: 25vh;
}