@font-face {
    font-family: 'Pixel';
    src: url('../asset/fonts/Pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Pixel', sans-serif;
    font-size: 26px;
    color: white;
    text-align: center;
}

p {
    font-family: 'Pixel', sans-serif;
    font-size: 24px;
    color: black;
    text-align: center;
}

a {
    text-decoration: none;
    display: grid;
    place-items: center;
}

.hidden {
    display: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    /*overflow: hidden;*/
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 0px;
    background-image: url("../img/bg/wooden_plank_bg.png");
    background-size: cover;
    background-position: center;
}

#start_img {
    width: auto;
    object-fit: contain;
    transition: all 0.5s ease;
}

.base_size {
    height: 100%;
}

.shrink1 {
    height: 80%;
}

.shrink2 {
    height: 70%;
}

#text-box {
    background-color: peru;
    background-size: 100% 100%;
    background-position: center;
    border: calc(1vh) solid brown;
    box-sizing: border-box;
    width: 100%;
}

.box1{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button-box-showed {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap:10%;
}

a > * {
    grid-area: 1 / 1;
}