@font-face {
    font-family: 'Pixel';
    src: url('../../asset/fonts/Pixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
    font-family: 'Pixel', sans-serif;
    font-size: 1.8vw;
    color: white;
    text-align: center;
}

p {
    font-family: 'Pixel', sans-serif;
    font-size: 1.8vw;
    color: lightgrey;
    text-align: center;
}

a {
    text-decoration: none;
    display: grid;
    place-items: center;
}

a > * {
    grid-area: 1 / 1;
}

html{
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard syntax */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.pagina {
    display: flex;
    flex-direction: row; 
    align-items: center;
    gap: 0px;
}

.stanza {
    width: 75vw;
    height: 100vh;
    background-image: url("../../img/bg/brick_bg.png");
    background-size: cover;
    background-position: center;
    display: grid;
    place-items: center;
}

.stanza > * {
    grid-area: 1 / 1;
}

.GUI {
    width: 25vw;
    height: 100vh;
    background-color: darkslategray;
    background-size: 100% 100%;
    background-position: center;
    border: 1vh solid darkslateblue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: space-between;
}

.text-box {
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.personaggio {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: center;
    width: 16vw;
}

.primo_piano{
    height: 32vh;
    width: 90%;
    height: auto;
}

.giocatore{
    height: 32vh;
}

.button-box {
    display: flex;
    flex-direction: row; 
    align-items: center;
}

.bottone > * {
    width: 90vw;
}

.porta img {
    height: 20vh;
}

.mappa_stanza {
    height: 100vh;
}

.hidden {
    display: none;
}

.invisible {
    visibility: hidden;
}


